* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  padding: 20px;
  background-color: white;
}
main {
  display: flex;
  padding: 20px;
}
